$margin-right: 2%;

body {
	margin: 3% 3% 10% 10%; 
	
}

li {
  float: left;
  display:inline;
}

div p {
	display: flex;
	flex-direction: row;
}

.double li  { 
    width: 50%;
}


#main {
	display: flex;
	flex-direction: row;

}

#add {
	margin-right: $margin-right;
}

#shuffle {
	margin-right: $margin-right;
}




