$margin-right: 2%;

body {
	margin: 3% 3% 10% 10%; }

li {
  float: left;
  display:inline; }

div p {
	display: flex;
	flex-direction: row; }

.double li  { 
    width: 50%; }


#main {
	display: flex;
	flex-direction: row; }

#add {
	margin-right: $margin-right; }

#shuffle {
	margin-right: $margin-right; }

#image { 
    background-image: url("../images/main-image.jpg");

    height: 100%; 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

.list-group-item {

padding: 5px;
margin-bottom: 1%;
font-size: 15px;
border: 2px solid #00cc00; }

#overflow {
	 white-space: nowrap; 
    width: 50px; 
    overflow: hidden;
    text-overflow: clip;
}





